<section class="container sec">

    <h1>Edit Blog</h1>

    <form class="row g-3" action="/updateblog" method="post">

        <div class="col-md-6">
            <label for="name" class="form-label">Title</label>
            <input value="{{blog.title}}" autocomplete="off" type="text" class="form-control" id="name" name="title">
        </div>
        <div class="col-md-6">
            <label for="mrp" class="form-label">Author</label>
            <input value="{{blog.author}}" autocomplete="off" type="text" class="form-control" id="mrp" name="author">
        </div>


        <input type="hidden" name="blogId" value="{{blog.id}}" id="">

        <div class="col-md-2">
            <img style="width: 80px; height: 80px; border: 1px solid #ccc; margin: 5px;" src="/blog/{{blog.imagePath}}">
        </div>

        <div id="inputContainer">
            <div class="input-group mb-3 col-md-6">

                <input autocomplete="off" value="{{this}}" type="file" name="image" class="form-control"
                    id="inputGroupFile01">
                <a class="btn btn-success" id="addInputButton">+</a>
            </div>
        </div>



        <div class="col-12">
            <div class="form-check">
                <label for="description">Content</label>
                <textarea autocomplete="off" class="form-control" id="description" name="content"
                    aria-label="With textarea">{{blog.content}}</textarea>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary"> Upadte  Blog</button>
        </div>
    </form>
</section>